name: 'RCE Datacatalog ETL' 

env:
  BASE_URI: 'https://kennis.cultureelerfgoed.nl/api.php'
  ARTIFACT_PATH: 'artifact-data.jsonld'
  GRAPH_ID: 'datacatalog-latest-graph'
  DATASET_NAME: 'datacatalog-rce'

on:
  workflow_dispatch:

jobs:
  get-latest-datacatalog:
    runs-on: ubuntu-latest 
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Generate allowlist 
      run: |
        python src/generate_allowlist.py
    - name: Get latest datacatalog 
      run: |
        python src/datacatalog_service.py
      env:
        BASE_URI: ${{ env.BASE_URI }}
        TARGET_FILEPATH: ${{ env.ARTIFACT_PATH }}
        GRAPH_ID: ${{ env.GRAPH_ID }}   
    - name: Upload data artifact
      uses: actions/upload-artifact@v4
      with:
        name: data-artifact
        path: ${{ env.ARTIFACT_PATH }}
        overwrite: true

  push-to-triply:
    runs-on: ubuntu-latest
    needs: [get-latest-datacatalog]
    steps:
    - name: Download data artifact
      uses: actions/download-artifact@v4
      with:
          name: data-artifact
    - name: Install dependencies
      run: |
        wget 'https://static.triply.cc/cli/triplydb-linux'
        chmod +x triplydb-linux
    - name: Push changes to TriplyDB API via CLI
      run: |
        ./triplydb-linux import-from-file --dataset "${{ env.DATASET_NAME }}" --token "${{ secrets.LDV_API_TOKEN }}" --account "rce" --url "https://api.linkeddata.cultureelerfgoed.nl" --default-graph-name "https://linkeddata.cultureelerfgoed.nl/rce/${{ env.DATASET_NAME }}/graphs/${{ env.GRAPH_ID }}" --mode "overwrite" ${{ env.ARTIFACT_PATH }}
